body {
  padding-top: 50px;
  position: relative;
  &.home {
    padding-top: 0;
    .jumbotron {
      background: @brand-primary;
      color: white;
      margin: 0;
    }
    hr {
      border: none;
    }
  }
}
section {
  padding: 20px 0px;
}
.modal form {
  margin-bottom: 0px;
}
footer {
    padding-bottom: 20px;
}
p.login-signup {
    margin-top: 20px;
}
.navbar-default .navbar-brand {
  color: @brand-primary;
  font-weight: bold;
}

.leaderboard {
    .last7 {
        float: right;
        margin-right: 1em;
        color: @brand-primary;
    }
}

.stats {
  font-weight: 300;
  font-size: 120%;
  margin: 20px 0;
  padding: 10px 15px;
  background: lighten(@brand-primary, 50%);
  border-radius: 4px;
}
.choices {
  font-size: 120%;
}
.item-choice {
  margin-bottom: 20px;
}
.list-group-item:nth-of-type(1) > .badge {
  background: #FFD700;
}
.list-group-item:nth-of-type(2) > .badge {
  background: #A8A8A8;
}
.list-group-item:nth-of-type(3) > .badge {
  background: #C67A58;
}
.leaderboard {
  margin-top: 20px;
}
