{% extends "site_base.html" %}

{% block head_title_base %}οχλος{% endblock %}

{% block body_class %}home{% endblock %}

{% block topbar_base %}{% endblock %}

{% block body_base %}
  <section class="jumbotron">
    <div class="container">
      <h1>Welcome to <b>οχλος</b></h1>
      <p>
        (A reboot of) a Pinax-based platform for crowd-sourced collaborative corpus linguistics
      </p>
      <p>You can <a href="{% url 'account_login' %}" class="btn btn-default">Log In</a> or <a href="{% url 'account_signup' %}" class="btn btn-default">Sign Up</a> to try out the site.</p>
    </div>
  </section>
{% endblock %}
