{% extends "site_base.html" %}

{% block head_title %}οχλος{% endblock %}

{% block body_class %}item{% endblock %}

{% block body %}
    <div class="row">
        <ul class="breadcrumb">
            <li><a href="{% url 'project' project.pk %}">{{ project.name }}</a></li>
            <li><a href="{% url 'task' task.pk %}">{{ task.name }}</a></li>
        </ul>
        <h3>{{ item.question|safe }}</h3>
    </div>

    {% if item %}
    <div class="row">
        <div class="col-md-8">
            <form method="post" action=".">
                {% csrf_token %}
                <div class="choices">
                    {% for choice in item.choices %}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="answers" value="{{ choice }}" />
                                {{ choice }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
                {% if is_member %}<button class="btn btn-primary">Submit</button>{% endif %}
            </form>

            {% if not is_member %}
                <p>Join the <strong>{{ item.task.project }}</strong> project if you'd like to answer.</p>
                <form method="post" action="{% url "join_project" item.task.project.pk %}?next={{ request.path }}">
                    {% csrf_token %}
                    <button class="btn btn-primary">Join {{ item.task.project }}</button>
                </form>
            {% endif %}
        </div>
        <div class="col-md-4">
            {{ item.task.instructions_html|safe }}
        </div>
    </div>
    {% else %}
        No more items
    {% endif %}
{% endblock %}
