{% extends "site_base.html" %}

{% load oxlos_tags %}

{% block head_title_base %}οχλος: {{ project.name }}{% endblock %}

{% block body_class %}project{% endblock %}

{% block body %}
  <h1>
    {{ project.name }}
    {% if project|is_member:request.user %}<i class="fa fa-check"></i>{% endif %}
  </h1>
  <p class="lead">{{ project.description_html|safe }}</p>

  {% if not is_member %}
    <form method="post" action="{% url 'join_project' project.pk %}?next={{ request.path }}">
      {% csrf_token %}
      <button class="btn btn-primary">Join {{ project.name }}</button>
    </form>
  {% endif %}

  {% for task in project.tasks.all %}
    <h3><a href="{% url 'task' task.pk %}">{{ task.name }}</a></h3>
    <p>{{ task.description_html|safe }}</p>
  {% endfor %}
{% endblock %}
