{% extends "site_base.html" %}

{% block head_title_base %}οχλος: {{ task.name }}{% endblock %}

{% block body_class %}task{% endblock %}

{% block body %}
  <ul class="breadcrumb">
    <li><a href="{% url 'project' task.project.pk %}">{{ task.project.name }}</a></li>
  </ul>
  <h1>{{ task.name }}</h1>
  <div class="row">
    <div class="col-md-8">
      <p>{{ task.description_html|safe }}</p>

      <h3>Instructions</h3>
      <p>{{ task.instructions_html|safe }}</p>
    </div>
    <div class="col-md-4">
      {% if is_member %}
        <a class="btn btn-primary btn-block btn-lg" href="{% url 'item_random' task.pk %}">Work on this task</a>
      {% else %}
        <p>Join the <strong>{{ task.project }}</strong> project if you'd like to participate in this task.</p>
        <form method="post" action="{% url 'join_project' task.project.pk %}?next={{ request.path }}">
          {% csrf_token %}
          <button class="btn btn-primary">Join {{ task.project.name }}</button>
        </form>
      {% endif %}
      <div class="stats">
          <p>There are <strong>{{ items_count }}</strong> item{{ items_count|pluralize }} in this task and
          you have answered <strong>{{ your_answers_count }}</strong> of them.

          <p>In total, <strong>{{ participant_count }}</strong> {{ participant_count|pluralize:"person,people" }} {{ participant_count|pluralize:"has,have" }} participated in this task so far,
          answering <strong>{{ total_questions_answered }}</strong> question{{ total_questions_answered|pluralize }}
          covering a total of <strong>{{ distinct_items_answers }}</strong> item{{ distinct_items_answers|pluralize }}.
      </div>
      <div class="leaderboard panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">Leaderboard</h3></div>
          <div class="list-group">
              {% for leader in leaders %}
                <div class="list-group-item">
                    <span class="badge">{{ leader.count }}</span>
                    {{ leader.user }}
                </div>
              {% endfor %}
          </div>
      </div>
    </div>
  </div>
{% endblock %}
